.slider {
  height: auto;
  position: relative;
  min-height: 50vh;
  max-width: 100%;
  display: flex;
  .slider-wrapp {
    // position: absolute;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 3%;
  }
}
