.arch-rectangle-btn {
  min-width: 90px;
  min-height: 40px;
  height: auto;
  max-width: 320px;
  background: rgb(39, 39, 39);
  color: white;
  border: none;
  margin-inline-end: 1%;
  margin-inline-start: 1%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.arch-rectangle-btn:hover {
  background: black;
  box-shadow: 2px 2px 4px rgb(54, 54, 54);
}
